/* All Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--t-primary);
  color: var(--t-black-100);
}

::placeholder {
  color: var(--t-gray-50);
}

/* Doc Elements */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: var(--t-ff-regular);
  font-size: var(--t-fs-body);
  color: var(--t-black);
}

/* Head Elements */
title {
  text-transform: capitalize;
}

/* Body Elements */
body {
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--t-white);
  font-family: var(--t-ff-regular);
  font-size: var(--t-fs-body);
  color: var(--t-black);
}

/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--t-ff-bold);
  color: var(--c-black);
}
h1,
.h1 {
  --heading-font-size: var(--t-fs-h1);
}
h2,
.h2 {
  --heading-font-size: var(--t-fs-h2);
}
h3,
.h3 {
  --heading-font-size: var(--t-fs-h3);
}
h4,
.h4 {
  --heading-font-size: var(--t-fs-sub);
}
h5,
.h5 {
  --heading-font-size: var(--t-fs-body);
}
/* Responsive variants */
@media (--for-phone-only) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-size: calc(var(--heading-font-size) * 0.9);
  }
}
@media (--for-tablet-portrait-and-up) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-size: calc(var(--heading-font-size) * 0.95);
  }
}
@media (--for-desktop-and-up) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-size: var(--heading-font-size);
  }
}

/* Paragraphs */
p,
.p {
  --paragraph-font-size: var(--t-fs-body);
}

/* Responsive variants */
@media (--for-phone-only) {
  .p {
    font-size: calc(var(--paragraph-font-size) * 0.8);
  }
}
@media (--for-tablet-portrait-and-up) {
  .p {
    font-size: calc(var(--paragraph-font-size) * 0.9);
  }
}
@media (--for-desktop-and-up) {
  .p {
    font-size: var(--paragraph-font-size);
  }
}

/* Links */
a {
  text-decoration: underline;
  text-underline-offset: var(--t-space-3);
  color: var(--t-black);
  transition: 0.1s ease;
  cursor: pointer;
}
a:visited {
  color: var(--t-secondary);
}
a:hover {
  filter: opacity(0.8);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: var(--t-space-8);
}
::-webkit-scrollbar-track {
  padding: var(--t-space-5) 0;
  background-color: var(--t-white-300);
}
:-webkit-scrollbar {
  width: var(--t-space-1) !important;
}
::-webkit-scrollbar-thumb {
  border: none;
  border-radius: var(--t-br-small);
  background-color: var(--t-primary);
  box-shadow: inset 0 0 var(--t-space-1) var(--t-secondary);
}
